.sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 999999;
    background-color: #fff; /* Optional: adjust as needed */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
}
.text-justify{text-align:justify !important;}